# Data Science Tools and Ecosystem

In this notebook, Data science tools and ecosystem are summmarized.

**Objectives**:
- Interactive Data Analysis
- Documentation and Communication
- Visualization
- Data Cleaning and Preprocessing
-  Collaboration

some of thre popular languages that data scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) Numpy
2) Matplotlib
3) TensorFlow
4) Pandas

|Data Science Tools|
|----|
|Jupyter Notebooks|
|Rstudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Nikesh Duwal